div {
  width: 400px;
  height: 200px;
  background-color: black;
  border-radius: 50px;
  border: 20px groove indigo;
  background-image: url(../../008_relative-urls/puppy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
