div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 10px;
display: inline-block;
}
img {
  border: 10px groove orangered;
  border-radius: 100%;
}
.onedog {
  border: 10px dashed orangered;
  border-radius: 100%;
}
.twodog {
  border: 10px groove orangered;
  border-radius: 100%;
}
.threedog {
  border: 10px groove orangered;
  border-radius: 100%;
}
