html {
    font-size: 2rem;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a:link {
  border: 2px solid red;
  background-color: green;
  border-radius: 50px;
}
a:hover {
  background-color: red;
}
