* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul {
  display: flex;
  /* flex-flow: row nowrap; - default no need to write it */
  flex-flow: column nowrap;
}

a {
  display: block;
}
