div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 10px;
  display: inline-block;

}

img {
  width: 100px;
  /* box-sizing: upon increasing certain values the element tends to occupy more space on a page, box sizing helps to shrink the content instead and not take any extra space on a web page */
  box-sizing: border-box;
  border: 10px groove orangered;
  padding: 10px;
  height: 80px;


}
.onedog {
  border: 10px dashed orangered;

}
.twodog {
  border: 10px groove orangered;

}
.threedog {
  border: 10px groove orangered;

}
