
#atf {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: darkgrey;
background-image: url("background-photo.jpg");
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-origin: border-box;
background-attachment: fixed;
}
.idx-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* h1, h2, h3 {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-family: 'Kotta', inherit;

} */
